.fiche__container {
    display: flex;
    justify-content: space-between;
    color: #FF6060;
    margin-bottom: 30px;
    @media (max-width: 768px) {
        flex-direction: column;
        margin-bottom: 0;
    }
    &__ti-ta {
        &__title {
            font-size: 36px;
            margin: 30px 0px 0px 0px;
            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
        &__loc {
            margin: 0;
            font-size: 18px;
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
        &__tags {
            display: flex;
            flex-wrap: wrap;
            &__tag {
                margin: 20px 10px 0px 0px;
                padding: 5px 30px;
                background-color: #FF6060;
                border-radius: 10px;
                font-size: 14px;
                color: white;
                @media (max-width: 768px) {
                    font-size: 10px;
                    border-radius: 5px;
                    padding: 5px 20px;
                }
            }
        }
    }
    &__host {
        display: flex;
        flex-direction: column;
        align-items: end;
        @media (max-width: 768px) {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
        &__container {
            margin: 25px 0px;
            display: flex;
            align-items: center;
            &__name {
                font-size: 18px;
                margin-right: 10px;
                @media (max-width: 768px) {
                    font-size: 12px;
                }
            }
            &__img {
                border-radius: 50%;
                width: 65px;
                height: 65px;
                @media (max-width: 768px) {
                    height: 32px;
                    width: 32px;
                }
            }
        }
        &__rating {
            width: 195px;
            @media (max-width: 768px) {
                width: 110px;
            }
            &__star {
                height: 24px;
                margin-left: 15px;
                @media (max-width: 768px) {
                    height: 17px;
                    margin: 0px 5px 0px 0px
                }
            }
        }
    }
}
.fiche__desc {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .container {
        width: 47%;
        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}